<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section>
  </section>
  <section class="about">
    <h2>About <br />The Nayuta Zero</h2>
    <p class="about__text1">Episode 0は、The Nayuta
      zeroグランドオープンに先立ち屋外とプレハブにてシンプルなコレクションを楽しんでいただくイベントです。野菜弁(veganbento)、窯で炊いた玄米おにぎり、カフェ、セレクトショップ、産直、フルーツジュース、テントサウナ等をご用意しております。
    </p>
    <div class="about__block">
      <p class="about__image">
        <img src="../images/map-icon.png" alt="">
      </p>
      <p class="about__text2">Episode 0は、The Nayuta
        zeroグランドオープンに先立ち屋外とプレハブにてシンプルなコレクションを楽しんでいただくイベントです。野菜弁(veganbento)、窯で炊いた玄米おにぎり、カフェ、セレクトショップ、産直、フルーツジュース、テントサウナ等をご用意しております。
      </p>
    </div>
  </section>
</body>

</html>