<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <section class="about">
    <h2>About <br />The Nayuta Zero</h2>
    <p class="about__text1">Episode 0は、The Nayuta
      zeroグランドオープンに先立ち屋外とプレハブにてシンプルなコレクションを楽しんでいただくイベントです。野菜弁(veganbento)、窯で炊いた玄米おにぎり、カフェ、セレクトショップ、産直、フルーツジュース、テントサウナ等をご用意しております。
    </p>
    <div class="about__block">
      <p class="about__image">
        <img src="../images/map-icon.png" alt="">
      </p>
      <p class="about__text2">Episode 0は、The Nayuta
        zeroグランドオープンに先立ち屋外とプレハブにてシンプルなコレクションを楽しんでいただくイベントです。野菜弁(veganbento)、窯で炊いた玄米おにぎり、カフェ、セレクトショップ、産直、フルーツジュース、テントサウナ等をご用意しております。
      </p>
    </div>
  </section>
  <section class="map">
    <h2>Access</h2>
    <div class="map__container">
      <div class="map__card">
        <div class="map__gmap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3321.6675142796735!2d130.51704331515347!3d33.639861946796195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541842937c2dfc5%3A0xe50d6cc4ab978cb5!2z5LmF5bGx5rip5rOJIOODm-ODhuODq-WkouWutg!5e0!3m2!1sja!2sjp!4v1646869831235!5m2!1sja!2sjp"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
          </iframe>
        </div>
      </div>
      <div class="map__access">
        <div>
          <p class="map__title">住所</p>
          <hr>
          <p class="map__text">福岡県糟屋郡久山町久原</p>
          <p class="map__title">最寄からのアクセス</p>
          <hr>
          <p class="map__text">篠栗線篠栗下車のち北に徒歩３０分</p>
          <p class="map__title">車・バイクでお越しの方</p>
          <hr>
          <p class="map__text">無料駐車場を用意してあります。<br>
            ご自由にお使いください。</p>
        </div>
      </div>
  </section>
</body>
</html>