@import "./variables";

.detail {
  padding-top: 102px;
  width: 100%;
  h2 {
    color: $font-title;
    text-align: center;
  }
  label {
    display: block;
    font-size: 16px;
    color: #363c3a;
    position: relative;
    cursor: pointer;
  }
  &__radio {
    padding-top: 42px;
    display: flex;
    justify-content: center;
    padding-bottom: 56px;
  }
  &__radio_flex {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  input {
    display: none;
  }
  &__slash::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 80px;
    background-color: #707070;
    transform: rotate(30deg);
  }
  label::before {
    font-size: 50px;
    position: absolute;
    top: 15px;
    z-index: 1;
  }
  [data-type="sauna"] + label::before {
    content: "巡";
  }
  [data-type="food"] + label::before {
    content: "味";
    right: 0;
  }
  [data-type="goods"] + label::before {
    content: "品";
  }
  input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    background: #fffca7;
    border-radius: 50%;
    top: 20px;
    left: 0px;
  }
  input[data-type="food"]:checked + label::after {
    left: -10px;
  }

  &__item {
    padding-top: 40px;
    text-align: center;
  }
  &__container {
    width: 300px;
    display: inline-block;
  }
  img {
    width: 216px;
    height: 216px;
  }
  &__text {
    padding-top: 32px;
    width: 300px;
    color: $font-text;
    display: flex;
    justify-content: center;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 20px;
  }
  &__title {
    padding-top: 56px;
    width: 100%;
    display: flex;
    &_group {
      display: flex;
    }
    img {
      width: 66px;
      height: 66px;
    }
  }
  &__description {
    padding-left: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: $font-text;
  }
  &__button {
    display: flex;
    justify-content: flex-end;
  }
  &__sp_button,&__pc_button {
    width: 137px;
    height: 40px;
    border: solid 1px $font-text;
    border-radius: 20px;
    background: #fff;
    color: #363c3a;
  }

  &__pc_button {
    display: none;
  }

  @include mq("md") {
    h2 {
      font-size: 75px;
    }
    &__radio_flex {
      width: 550px;
    }
    label {
      font-size: 20px;
    }
    label::before {
      font-size: 70px;
    }
    &__slash::before {
      width: 3px;
      height: 110px;
    }
    input[type="radio"]:checked + label::after {
      width: 100px;
      height: 100px;
      top: 30px;
      left: 0px;
    }
    input[data-type="food"]:checked + label::after {
      left: -10px;
    }
    &__item {
      padding-top: 62px;
      display: flex;
      justify-content: space-between;
      transform: translate(calc(50vw - 60%));
      width: 55vw;
    }
    &__image {
      width: 360px;
      height: 360px;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__text {
      width: 500px;
    }
    &__title {
      width: 500px;
      justify-content: space-between;
    }
    &__button {
      display: flex;
      align-items: center;
    }
    &__pc_button {
      display: block;
    }
    &__sp_button {
      display: none;
    }
  }
}
