@import "./variables";

.pickup {
  padding-top: 98px;
  h2 {
    padding-bottom: 80px;
    text-align: center;
  }
  div {
    height: 374px;
    margin: 4rem 0;
    position: relative;
    width: 100%;
  }
  img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    right: 0;
    width: 60%;
  }
  div:nth-child(2n) img {
    left: 0;
  }
  .menu {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: black;
    position: relative;
  }
  p {
    position: absolute;
    width: 100%;
    color: #fff;
    top: 53px;
    left: 1px;
    font-size: 12px;
  }
  @include mq("md") {
    transform: translate(calc(50vw - 50%));
    width: 75vw;
    div {
      height: 720px;
    }
    h2 {
      font-size: 75px;
    }
    img {
      width: 50%;
    }
    .menu {
      width: 200px;
      height: 200px;
    }
    p {
      top: 85px;
      left: 15px;
      font-size: 16px;
    }
  }
}
